<mat-tab-group animationDuration="0ms" [selectedIndex]="4">
  <mat-tab label="Tree">
    <ng-template matTabContent>
      <div class="wrapper">
        <app-scenario-info [scenarios]="allScenarios" [selectedScenario]="selectedScenario" (selectScenario)="handleScenarioSelect($event)" (updateScenario)="handleScenarioUpdate($event)"> </app-scenario-info>
        <!-- <div class="main-tree"> -->
          <app-export-tree [scenarios]="allScenarios" (importScenarios)="handleScenariosImport($event)"></app-export-tree>
          <app-tree [elements]="allScenarios" [selectedScenario]="selectedScenario" (selectScenario)="handleScenarioSelect($event)" (updateScenario)="handleScenarioUpdate($event)"></app-tree>
        <!-- </div> -->
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="availableScenarios.length" matBadgeOverlap="false">Available</span>
    </ng-template>
    <mat-expansion-panel *ngFor="let scenario of availableScenarios">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ scenario.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let page of scenario.pages">
        <a [href]="getImageUrl(page)" target="_blank"><img class="available-scenario" [src]="getImageUrl(page)" /></a>
      </ng-container>
    </mat-expansion-panel>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="completedScenarios.length" matBadgeOverlap="false">Completed</span>
    </ng-template>
    <mat-list>
      <mat-list-item *ngFor="let completedScenario of completedScenarios">{{ completedScenario.name }}</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="blockedScenarios.length" matBadgeOverlap="false">Blocked</span>
    </ng-template>
    <mat-list>
      <mat-list-item *ngFor="let blockedScenario of blockedScenarios">{{ blockedScenario.name }}</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>Messages</ng-template>
    <fh-messages></fh-messages>
  </mat-tab>
</mat-tab-group>
