<div class="container">
  <div class="keyboard">
    <div class="key" *ngFor="let letter of letters" (click)="addLetter(letter)">
      <span class="frosthaven-font">{{letter}}</span>
      <span class="letter">{{letter}}</span>
    </div>

    <div class="key" *ngFor="let number of numbers" (click)="addLetter(number)">
      <span class="frosthaven-font">{{number}}</span>
      <span class="letter">{{number}}</span>
    </div>
  </div>
  <div class="message">
    <textarea readonly>{{message}}</textarea>
    <textarea readonly class="frosthaven-font">{{message}}</textarea>
    <button type="button" (click)="clear()">Clear</button>
  </div>
</div>

<div class="found-messages">
  <mat-card>
    <mat-card-title>Puzzle page 4</mat-card-title>
    <mat-card-content [class.hidden]="!isRevealed('4')">
      there is power here deep beneath the surface, a source exists. we have built three research facilities so far,
      but if my colleagues get their way, we will come away with zero.
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="!isRevealed('4')">
      <button mat-button (click)="reveal('4')">Reveal</button>
    </mat-card-actions>
  </mat-card>
</div>
